/* ==========================================================================
Accordion
========================================================================== */
.drop-list li{
background: #2172b3;
width: 100%;
margin: 10px 0;
box-sizing: border-box;
padding: 10px;
border-radius: 5px;
}
.drop-list li a{
color: white;
text-decoration: none;
display: block;
}
.drop-list li ul li{
background: #e8f0f7;
}
.drop-list li .fa-sort-desc{
float: right;
}
.drop-list li ul li .gallery li{
width: auto;
}
.drop-list li ul li .list li{
margin: 0;
padding: 0;
width: auto;
}